.App {
  --text-primary-color: #000000;
  --text-secondary-color: #AFB2B6;
  --text-active-color: #7B61FF;
  --text-hover-color: #917CFF;
  --text-genre-color: #AFB2B6;

  --site-background-color: #FFFFFF;
  --input-background-color: #FFFFFF;
  --input-border-color: #AFB2B6;
  --form-background-color: #FFFFFF;
  
  --site-logo-color:  #7B61FF;
  --site-logo-secColor: #000000;

  --button-bg-primary-color: #7B61FF;
  --button-bg-hover-color: #917CFF;
  --button-text-color: #FFFFFF;
  --button-showMore-color: #AFB2B6;

  --button-colorMode-active: #7B61FF;
  --button-colorMode-off: #80858B;
  --button-colorMode-hoverColor: #917CFF;
  --circle-colorMode-color: #FFFFFF;

  --navigation-default-color: #80858B;
  --navigation-active-color: #7B61FF;
  --navigation-hover-color: #917CFF;

  --dotIco-color: #AFB2B6;

  --rating-green-color: #00A340;
  --rating-yellow-color: #F3A608;
  --rating-orange-color: #F45D2D;

  --select-color: #FFFFFF;

  --slider-arrow-color: #323537;

  --filter-background-color: #80858B;

  &.dark {
    --text-primary-color: #FFFFFF;
    --text-secondary-color: #80858B;
    --text-active-color: #7B61FF;
    --text-hover-color: #917CFF;
    --text-genre-color: #AFB2B6;

    --site-background-color: #000000;
    --input-background-color: #323537;
    --input-border-color: transparent;
    --form-background-color: #242426;

    --site-logo-color:  #7B61FF;
    --site-logo-secColor:#FFFFFF;

    --button-bg-primary-color: #7B61FF;
    --button-bg-hover-color: #917CFF;
    --button-text-color: #FFFFFF;
    --button-showMore-color: #323537;

    --button-colorMode-active: #7B61FF;
    --button-colorMode-off: #80858B;
    --button-colorMode-hoverColor: #917CFF;
    --circle-colorMode-color: #FFFFFF;

    --navigation-default-color: #80858B;
    --navigation-active-color: #7B61FF;
    --navigation-hover-color: #917CFF;


    --dotIco-color: #AFB2B6;

    --rating-bg-color: #00A340;

    --select-color: #FFFFFF;

    --slider-arrow-color: transparent;

    --filter-background-color: #242426;
  }

  & a {
    all: unset;
  }
}