.App {
  --text-primary-color: #000000;
  --text-secondary-color: #AFB2B6;
  --text-active-color: #7B61FF;
  --text-genre-color: #AFB2B6;

  --site-background-color: #FFFFFF;
  --input-background-color: #FFFFFF;
  --input-border-color: #AFB2B6;
  --form-background-color: #FFFFFF;
  
  --site-logo-color:  #7B61FF;
  --site-logo-secColor: #000000;

  --button-bg-primary-color: #7B61FF;
  --button-text-color: #FFFFFF;
  --button-showMore-color: #AFB2B6;

  --rating-bg-color: #00A340;

  --select-color: #FFFFFF;

  &.dark {
    --text-primary-color: #FFFFFF;
    --text-secondary-color: #80858B;
    --text-active-color: #7B61FF;
    --text-genre-color: #AFB2B6;

    --site-background-color: #000000;
    --input-background-color: #323537;
    --input-border-color: transparent;
    --form-background-color: #242426;

    --site-logo-color:  #7B61FF;
    --site-logo-secColor:#FFFFFF;

    --button-bg-primary-color: #7B61FF;
    --button-text-color: #FFFFFF;
    --button-showMore-color: #323537;

    --rating-bg-color: #00A340;

    --select-color: #FFFFFF;
  }
  
  & a {
    all: unset;
  }
}