@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--site-background-color);
  position: absolute;
  width: 100%;
}

button {
  font-family: 'Exo 2', sans-serif;
  cursor: pointer;
}

/* .active-link {
  color: var(--text-active-color);
} */